.footer {
    background: black;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: auto;
}

.logo {
    display: inline-block;
    width: 3em;
    filter: brightness(100);
    margin: -.5em auto;
    vertical-align: middle;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}