.footer {
    background: black;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50px;
}

.logo {
    display: inline-block;
    width: 3em;
    filter: brightness(100);
    margin: -.5em auto;
    vertical-align: middle;
}

.logo img {
    display: block;
    width: 100%;
    height: auto;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
    #grid-layout {
        display: grid;
        grid-gap: 10px;
        gap: 10px;
        /* DESIGN YOUR GRID TEMPLATE */
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-columns: auto;
        grid-template-areas: "side side side" "main main main" "side1 side1 side1";
    }
}