#grid-layout {
    display: grid;
    grid-gap: 10px;
    gap: 10px;
    /* DESIGN YOUR GRID TEMPLATE */
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-template-areas: "main main main" "main main main" "side side side";
}

.cell {
    background-color: black;
}

.main {
    grid-area: main;
}

.side {
    grid-area: side;
}

.side1 {
    grid-area: side1;
}


/* (B) ASSIGN THE AREAS */

#grid {
    display: grid;
    grid-gap: 2vw;
}

#grid>div {
    font-size: 5vw;
    padding: .5em;
    text-align: center;
}